IndentWidth: 4
BasedOnStyle: google
ColumnLimit: 120
AccessModifierOffset: -4
AlignConsecutiveAssignments: true
SortIncludes: true
SortUsingDeclarations: true
AlignTrailingComments: true
AllowShortCaseLabelsOnASingleLine: true
AlignArrayOfStructures: Left
AllowAllParametersOfDeclarationOnNextLine: true
